body {
    font-family: 'PT Sans', 'Georgia', Times, Times New Roman, serif;
    background-image: url("/Responsive-Portfolio/assets/images/background.png");
    width: 100%;
    margin-bottom: -80px;
    padding-bottom: 80px;
}

a {
    text-decoration: none;
}


.page {
    max-width: 960px;
    width: 90%;
    padding: 0 30px;
    margin: 0 auto;
    overflow: auto;
    margin-top: 80px;
}

.main {
    box-sizing: border-box;
    width: 68%;
    margin: 30px 20px 30px 0;
    padding: 25px 30px;
    background-color: #FFF;
    border: 1px solid #DDD;
    float: left;
}

.connect {
    box-sizing: border-box;
    padding: 20px;
    vertical-align: top;
    margin-top: 30px;
    background-color: #FFF;
    text-align: center;
    border: 1px solid #DDD;
    float: right;
}


.nav-div {
    position:fixed;
    top:0;
    background-color: #FFF;
    height: 80px;
    width: 100%;
    margin: 0;
    z-index: 100;
}

nav {
    margin: 0 auto;
    max-width: 960px;
    width: 90%;
    background-color: #FFF;
}

nav h1 {
    font-size: 48px;
    text-align: center;
    line-height: 80px;
    padding: 0 40px;
    float: left;
    color: #FFF;
    background-color: #4AAAA5;
}

nav ul {
    float: right;
}

.nav-buttons a:hover {
    background-color: #4AAAA5;
    color: #FFF;
}

.nav-buttons li {
    display: inline;
    list-style-type: none;
    text-align: center;
}

.nav-buttons li a {
    color: #B1B3B2;
    display: inline-block;
    line-height: 80px;
    height: 80px;
    width: 90px;
    text-decoration: none;
    transition: all 0.3s;
}

.main h2 {
    color: #4AAAA5;
    font-size: 36px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 2px solid #DDD;
}

.main p {
    line-height: 30px;
    color: #827f7b;
}

#profile-img {
    width: 200px;
    margin: 0 25px 20px 0;
    float: left;
}

.gallery {
    float: left;
    margin: 7px;
    height: 220px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.project {
    box-sizing: border-box;
    color: #FFF;
    font-size: 22px;
    padding: 20px;
    text-align: center;
    position: relative;
    right: 0;
    bottom: 80px;
    background-color: #4AAAA5;
    width: 100%;
}

.main a {
    transition: all 0.3s;
}

.main a:hover {
    opacity: .8;
}


.contact h3 {
    color: #888;
    margin-bottom: 10px;
}

.contact input,
textarea {
    box-sizing: border-box;
    margin-bottom: 15px;
    width: 100%;
    padding: 10px 0;
    border: 1px solid #DDD;
}

#contact-submit {
    font-weight: 100;
    font-size: 16px;
    color: #FFF;
    background-color: #4AAAA5;
    border: none;
    padding: 8px 25px;
}


.connect h3 {
    color: #4AAAA5;
    font-size: 21px;
    padding: 15px;
    margin: 0 auto;
    border-bottom: 2px solid #DDD;
}

.connect a {
    margin: 15px 5px;
    display: inline-block;
}

.connect a:hover {
    opacity: .8;
}

.connect img {
    max-width: 60px;
    width: auto;
}



footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 50px;
    background-color: #666;
    border-top: 5px solid #4AAAA5;
    margin-top: 30px;
}

footer small {
    position: relative;
    top: 20px;
    color: #BBB;
    font-size: 12px;
}

::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    padding-left: 8px;
    color: #DDD;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    padding-left: 8px;
    color: #DDD;
    opacity: 1;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    padding-left: 8px;
    color: #DDD;
    opacity: 1;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    padding-left: 8px;
    color: #DDD;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    padding-left: 8px;
    color: #DDD;
}

@media screen and (max-width: 1060px) {

    nav {
        width: 70%;
    }

    .page {
        width: 70%;
    }

    .main {
        width: max-content;
    }
    .about {
        width: 50%;
    }
    .contact {
        width: 50%;
    }

    #profile-img {
        float: none;
        width: 80%;
        display: block;
        margin: 15px auto;
    }

    .connect a {
        width: auto;
    }

    .gallery {
        display: block;
        float: none;
    }
}

@media screen and (max-width: 800px) {

    nav {
        width: 85%;
    }

    .page {
        width: 85%;
    }
    .main {
        display: block;
        width: 100%;
    }
    #profile-img {
        float: left;
        max-width: 200px;
        margin: 0 25px 20px 0;
    }

    .connect {
        display: block;
        width: 100%;
    }

    .gallery {
        float: left;
    }
}

@media screen and (max-width: 765px) {
    .main {
        margin: 30px auto;
        float: none;
        width: max-content;
    }

    .about {
        width: 100%;
    }

    .gallery {
        vertical-align: middle;
        display: inline-block;
    }
    #profile-img {
        float: none;
        max-width: 300px;
        display: block;
        margin: 15px auto;
    }

    .connect {
        float: none;
        margin: 0 auto;
    }

    nav h1 {
        font-size: 2em;
        width: 40%;
        padding: 0 0;
    }
}

@media screen and (max-width: 650px) {
    .nav-div {
        height: auto;
        position: static;
    }

    .navbar {
        width: 100%;
    }
    nav h1 {
        width: 100%;
    }

    .nav-buttons {
        float: none;
    }

    .nav-buttons li {
        box-sizing: border-box;
        margin: 0;
        float: left;
        text-align: center;
        width: 33.33%;
    }
    .nav-buttons li a {
        height: auto;
        line-height: 50px;
        width: 100%;
    }

    .page {
        margin-top:0px;
    }

    .portfolio {
        width: 100%;
    }

    .contact {
        width: 100%;
    }

    .portfolio a {
        display: block;
        height: auto;
        margin-bottom: -50px;
    }

    .gallery {
        float: none;
        display: block;
        height: auto;
    }

    .gallery img {
        width: 100%;
    }
}